
@{
    ViewData["Title"] = "Home";
}
@using WebApp.Core.Models
@model WebApp.Core.Models.HomeViewModel


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    
    <link rel="stylesheet" href="/css/nicepageHome.css" media="screen" asp-append-version="true" >
    <link rel="stylesheet" href="/css/Home.css" media="screen" asp-append-version="true">

    <meta name="generator" content="Nicepage 4.6.9, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
  </head>

  <body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-84db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-8 u-border-grey-75 u-container-style u-list-item u-palette-1-dark-1 u-repeater-item u-shape-rectangle u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                  <a asp-area="" asp-controller="Player" asp-action="Add" class="u-align-center u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">Add Player&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-1"><img src="/icons/add.png" alt=""></span></a>
                  <a asp-area="" asp-controller="Team" asp-action="Add" class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-2" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">Add Team&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-2"><img src="/icons/add.png" alt=""></span></a>
                  <a asp-area="" asp-controller="User" asp-action="All" class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-3" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">My Collection&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-3"><img src="/icons/collection.png" alt=""></span></a>
                  <a asp-area="" asp-controller="Train" asp-action="Add" class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-5" data-animation-name="pulse" data-animation-duration="1000" data-animation-direction="">Add Training&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-5"><img src="/icons/train.png" alt=""></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-palette-1-dark-1 u-shape-rectangle u-size-60 u-layout-cell-1">
                      <div class="u-border-20 u-border-grey-75 u-container-layout u-container-layout-2">
                          @if (Model.TeamViewModels.Count() == 0)
                          {
                              <div class="u-palette-1-base u-radius-10 u-shape u-shape-round u-shape-1">
                                  <center><label for="date-e1ab" class="u-label">There Are No Teams Yet!</label></center>
                              </div>
                          }
                          else
                          {
                              @foreach (var teamModel in Model.TeamViewModels)
                              {
                                  <div class="u-palette-1-base u-radius-10 u-shape u-shape-round u-shape-1">
                                      <label for="date-e1ab" class="u-label">@teamModel.Name</label>
                                      <label for="date-e1ab" class="u-label">@teamModel.AgeSection</label>
                                  </div>   
                              }   
                          }
                      </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-col">
                  <div class="u-container-style u-layout-cell u-palette-1-dark-1 u-shape-rectangle u-size-30 u-layout-cell-2">
                      <div class="u-border-20 u-border-grey-75 u-container-layout u-container-layout-3">
                          @if (Model.PlayerViewModels.Count() == 0)
                          {
                              <div class="u-palette-1-base u-radius-10 u-shape u-shape-round u-shape-3">
                                  <center>There Are No Players Yet!</center>
                              </div>
                          }
                          else
                          {
                              @foreach (var playerModel in Model.PlayerViewModels)
                              {
                                  <div class="u-palette-1-base u-radius-10 u-shape u-shape-round u-shape-3">
                                      <center><a asp-controller="Player" asp-action="ViewInfo" asp-route-id="@playerModel.Id">@playerModel.Name</a></center>

                                      @*@Html.ActionLink(playerModel.Name, "ViewInfo", "Player", new {playerModel})*@
                                  </div>
                              }   
                          }
                      </div>
                  </div>
                  <div class="u-container-style u-layout-cell u-palette-1-dark-1 u-shape-rectangle u-size-30 u-layout-cell-3">
                      <div class="u-border-20 u-border-grey-75 u-container-layout u-container-layout-4">
                          @if (Model.TrainingViewModels.Count() == 0)
                          {
                              <div class="u-palette-1-base u-radius-10 u-shape u-shape-round u-shape-5">
                                  <center>There Are No Trainigs Yet!</center>
                              </div>
                          }
                          else
                          {
                              @foreach (var trainigModel in Model.TrainingViewModels)
                              {
                                  <div class="u-palette-1-base u-radius-10 u-shape u-shape-round u-shape-5">
                                      <center>@trainigModel.Type || @trainigModel.Description</center>
                                  </div>
                              }   
                          }
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
    </section>
    
  </body>

