
@using WebApp.Core.Interfaces
@using Microsoft.AspNetCore.Identity
@using WebApp.Core.Models
@inject UserManager<IdentityUser> userManager
@{
    var user = userManager.GetUserAsync(User);
    var userId = user.Result.Id;
    IEnumerable<TeamViewModel> teams = ViewData["teams"] as IEnumerable<TeamViewModel>;
    IEnumerable<TrainingViewModel> trainings = ViewData["trainings"] as IEnumerable<TrainingViewModel>;
}

@{
    ViewData["Title"] = "Event Info";
}
@model EventViewModel

<link rel="stylesheet" href="/css/Team/nicepage.css" media="screen" asp-append-version="true" >
<link rel="stylesheet" href="/css/Player/EditPlayer.css" media="screen" asp-append-version="true">

<body class="u-body u-xl-mode">
    <section class="u-clearfix u-section-1" id="sec-9bb9">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <div class="u-form u-form-1">
                        <form method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                            <div class="u-container-style u-group u-palette-1-base u-radius-10 u-shape-round u-group-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <div class="u-expanded-width u-form u-form-2">
                                        <form method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
                                            <div class="u-form-email u-form-group">
                                                <label for="email-8673" class="u-label">Name: </label>
                                                <input type="text" placeholder="@Model.Name" name="Name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
                                            </div>

                                            <div class="u-form-email u-form-group">
                                                <label for="email-8673" class="u-label">Type: </label>
                                                <input type="text" placeholder="@Model.Type" name="Type" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">
                                            </div>
                                            <div class="u-form-email u-form-group">
                                                <label for="email-8673" class="u-label">Description: </label>
                                                <input type="text" placeholder="@Model.Description" name="Description" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="" spellcheck="false">

                                            </div>
                                            <div class="u-form-email u-form-group">
                                                <select id="select-deef" name="TeamId" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                                                    @foreach (var team in teams)
                                                    {
                                                        <option value="@team.Id">@team.Name</option> 
                                                    }
                                                </select>
                                            </div>
                                            <div class="u-form-email u-form-group">
                                                <select id="select-deef" name="TrainingId" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
                                                    @foreach (var training in trainings)
                                                    {
                                                        <option value="@training.Id">@training.Type @training.Program</option>   
                                                    }
                                                </select>
                                            </div>
                                            <div class="u-align-center u-form-group u-form-submit">
                                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </body>